<h1>One ArtWork</h1>

<div class="collection">
  <ul class="Artwork">
    <br>
    <li>Id : {{data.id}}</li>
    <li>Author : {{data.author}}</li>
     <img src="{{data.link}}" width="600" height="600" title="White flower" alt="Flower">
    <li>Description : {{data.description}}</li>
    <a href="http://localhost:4567/gallery/{{data.id}}/edit">Edit Item</a>
    <br>
    <br>


  </ul>
</div>

<a href="http://localhost:4567/gallery/new">Create New Artwork</a>