<h1>All ArtWork</h1>

<div class="collection">
  <ul class="Artwork">
    <br>
    {{#each data}}
    <li>Id : {{id}}</li>
    <li>Author : {{author}}</li>
    <img src="{{link}}" width="82" height="86" title="White flower" alt="Flower">

    <li>Description : {{description}}</li>
    <a href="http://localhost:4567/gallery/{{id}}">Select Item</a>
    <br>
    <br>
    {{/each}}

  </ul>
</div>

<a href="http://localhost:4567/gallery/new">Create New Artwork</a>
{{!--
<h3> Flash messages in Express 4 </h3>
<p><a href="http://localhost:4567/express-flash">Click here</a> for a flash message using the express-flash module.</p>
<p><a href="http://localhost:4567/session-flash">Click here</a> for a flash message using custom middleware</p>
<p>Refresh to clear the flash message.</p>

{{#if expressFlash}}
    <p><strong>FLASH!</strong> {{ expressFlash }}</p>
{{/if}}

{{#if sessionFlash.message}}
    <div class="{{ sessionFlash.type }}">
        <strong>FLASH!</strong> {{ sessionFlash.message }}
    </div>
{{/if}}
 --}}
